@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: url(components/images/bg-main-desktop.png) #fff;
  background-repeat: no-repeat;
  background-position: left;
  background-size: 30.1875rem 100%;
}

main {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 7.94rem;
}

#cardInfo {
  display: flex;
  gap: 2.75rem;
  flex-direction: column;
}

#cards {
  display: flex;
  flex-direction: column;
  gap: 2.31rem;
  width: 550px;
}

#frontCard {
  display: flex;
  width: 27.9375rem;
  height: 15.3125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: linear-gradient(164deg, #6348fe 0%, #610595 100%);
  background: url(components/images/bg-card-front.png);
  background-repeat: no-repeat;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 30px;
}

#cardNumbers {
  display: flex;
  width: 27.9375rem;
  color: var(--white, #fff);
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.21388rem;
}

#nameAndDate {
  display: inline-flex;
  justify-content: center;
  align-items: flex-start;
  gap: 12.19638rem;
}

h1,
h2 {
  color: var(--white, #fff);
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

#backCard {
  display: flex;
  width: 27.9375rem;
  height: 15.3125rem;
  flex-shrink: 0;
  border-radius: 0.625rem;
  background: linear-gradient(169deg, #fff 0%, #d2d3d9 100%);
  background: url(components/images/bg-card-back.png);
  background-repeat: no-repeat;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  align-items: center;
  justify-content: flex-end;
  padding: 50px;
  color: var(--white, #fff);
  text-align: right;
  font-family: Space Grotesk;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.125rem;
  position: relative;
  left: 100px;
  text-transform: uppercase;
}

form {
  display: flex;
  width: 23.8125rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1.63rem;
}

label {
  color: hsla(278, 68%, 11%, 1);
  font-family: "Space Grotesk", sans-serif;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

#expAndCvc {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}

#expDate {
  display: flex;
  flex-direction: column;
}

#mandY {
  display: flex;
  flex-direction: row;
  gap: 0.63rem;
}

input {
  color: var(--deep-violet, #21092f);
  opacity: 0.25;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  display: flex;
  padding: 1rem;
  width: 23.8125rem;
  height: 2.8125rem;
  border-radius: 0.5rem;
  border: 1px solid hsla(278, 3%, 87%, 1);
}

#mandY input {
  width: 80px;
  height: 45px;
  flex-shrink: 0;
}

#cvc input {
  width: 11.9375rem;
  height: 2.8125rem;
  flex-shrink: 0;
}

button {
  width: 23.8125rem;
  height: 3.3125rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  border: none;
  background: var(--deep-violet, #21092f);
  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
